/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   html {
     font-size: 16px;
   }

   body {
     font-family: 'Karla', sans-serif;
     font-size: 1em;
     font-weight: bold;
   }

   ul,
   ol {
     list-style-type: none;
     font-weight: bold;
   }

   a {
     color: #2b3991;
     text-decoration: none;
   }

   h1 {
     color: #2b3991;
     font-family: 'Lora', sans-serif;
     font-size: 1.875em;
     font-weight: 500;
     margin: 0;
   }

   h2,
   h3 {
     color: #2b3991;
     font-family: 'Lora', sans-serif;
     font-size: 1.25em;
     font-weight: 500;
     margin: 20px 0;
   }

   p {
     color: #2b3991;
     font-size: 1em;
     line-height: 1.285em;
   }

   figure {
     margin: 0;
   }

   .content-wrapper {
     width: 90%;
   }

   header,
   footer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     background: #000;
     margin: 0;
     width: 100%;
   }

   /* -- applied to all page hero-areas -- */
   .overlay {
     background: rgba(0, 0, 0, 0.35);
     overflow: hidden;
     height: 100%;
   }

/* ------------------- header section ----------------------- */

header .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  background: #fff;
  padding: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #fff;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin: 0 10px;
}

.nav-list {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 75px;
  background: #2b3991;
  float: right;
  padding: 0;
  margin: 0;
  text-align: center;
  transition: all 0.5s;
}

.nav-list li {
  opacity: 0;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
}

.nav-list li a {
  color: #fff;
  font-size: 1.125em;
  text-transform: uppercase;
}

.nav-list li a.active,
.nav-list li a:hover {
  color: #5c93ce;
  transition: 0.5s;
}

.hamburger-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #2b3991;
  font-size: 2em;
  cursor: pointer;
}

.hamburger-btn i {
    padding: 20px;
    transition: opacity 1s ease-in;
  }

.hamburger-btn i:hover {
   opacity: 0.7;
  }

#check {
  display: none;
}

#check:checked ~ .nav-list {
  height: 100vh;
}

#check:checked ~ .nav-list li {
  opacity: 1;
}

/* ------------------------ Main Section ---------------------------------- */

.hero-area {
  background: url(../img/hero.jpg) center no-repeat #333;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  min-height:500px;
  width: 100%;
}

.hero-area .content-wrapper {
  width: 100%;
}

.hero-area h1 {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  padding: 20px 0 0 20px;
  text-transform: uppercase;
}

.hero-area p {
  color: #fff;
  display: none;
  font-size: 2em;
  padding: 0 20px;
  margin: 0;
}

.hero-area button {
  background-color: #bf1e2e;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin: 0 130px;
  margin-top: 200px;
  width: 35%;
}

.hero-area button a {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.hero-area button:hover {
  background: rgba(247, 71, 71, 0.7);
  cursor: pointer;
  transition: 0.5s;
}

/* -------------------- what -------------------- */

.what {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.what .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 20px 0;
}

.what h1 {
  text-transform: uppercase;
}

.what a {
  color: #5c93ce;
  text-transform: uppercase;
}

.what figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.what img {
  border: 10px solid #2b3991;
  margin: 25px;
  width: 100%;
}

/* -------------------- benefits ----------------- */

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #bf1e2e;
  font-weight: bold;
}

.benefits .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 40px 0;
}

.benefits h1 {
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.benefits h2 {
  color: #fff;
  text-align: center;
  width: 100%;
}

.benefits p {
  color: #fff;
  text-align: center;
}

.benefits-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  color: #fff;
  padding: 5px;
  width: 45%;
}

.benefits i {
  font-size: 3.75em;
  padding: 25px 50px;
}

.benefits-item-description {
  padding: 0 10px;
  margin: 0;
  text-align: center;
}

/* -------------------- who --------------------- */

.who {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.who .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 20px 0;
}

.who h1 {
  text-transform: uppercase;
}

.who a {
  color: #5c93ce;
  text-transform: uppercase;
}

.who img {
  border: 10px solid #2b3991;
  border-radius: 50%;
}

.who h3 {
  text-align: center;
}

.position {
  text-align: center;
  text-transform: uppercase;
}

/* ------------------ footer -------------------- */

footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
  width: 100%;
}

.social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.social-icons p i {
  color: #000;
  font-size: 1.3125em;
}

.social-icons i:hover {
  color: #bf1e2e;
}

.footer-logo {
  text-align: center;
  width: 100%;
}

.member-logo {
  padding: 50px 0;
  text-align: center;
  width: 100%;
}

.member-logo img {
  padding: 0 20px;
}

.copyright p {
  color: #fff;
  padding-top: 50px;
  margin: 20px 0;
  text-align: center;
  width: 100%;
}

/* ------------------------ about page ---------------------------- */

.hero-area-about {
  background: url(../img/boxing-2.jpg) center no-repeat #333;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 500px;
  width: 100%;
}

.hero-area-about .content-wrapper {
  width: 100%;
}

.hero-area-about h2 {
  color: #fff;
  font-size: 3em;
  margin: 200px 0;
  text-align: center;
  width: 100%;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #2b3991;
  color: #f8f8ff;
  padding: 10px 0;
  width: 100%;
}

.about .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0;
}

.mission img,
.values img {
  border: 10px solid #f8f8ff;
  max-width: 300px;
  width: 100%;
}

.founder img {
  border: 10px solid #f8f8ff;
  max-width: 400px;
  width: 100%;
}

.about h4 {
  font-size: 1.75em;
}

.about p {
  color: #f8f8ff;
}

.about h5 {
  font-size: 1.25em;
}

.about ul {
  list-style-type: circle;
}

/* ------------------------ programs page ---------------------------- */

.hero-area-programs {
  background: url(../img/pr.jpg) center no-repeat #333;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 500px;
  width: 100%;
}

.hero-area-programs .content-wrapper {
  width: 100%;
}

.hero-area-programs h2 {
  color: #fff;
  font-size: 3em;
  margin: 200px 0;
  text-align: center;
  width: 100%;
}

.programs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 10px 0;
  width: 100%;
}

.programs .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0;
}

/* ------------------------ press page ---------------------------- */

.hero-area-press {
  background: url(../img/ring.jpg) center no-repeat #333;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 500px;
  width: 100%;
}

.hero-area-press .content-wrapper {
  width: 100%;
}

.hero-area-press h2 {
  color: #fff;
  font-size: 3em;
  margin: 200px 0;
  text-align: center;
  width: 100%;
}

.press {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 10px 0;
  width: 100%;
}

.press .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0;
}

/* ------------------------ contact page ---------------------------- */

.hero-area-contact {
  background: url(../img/boxing-1.jpg) center no-repeat #333;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 500px;
  width: 100%;
}

.hero-area-contact .content-wrapper {
  width: 100%;
}

.hero-area-contact h2 {
  color: #fff;
  font-size: 3em;
  margin: 200px 0;
  text-align: center;
  width: 100%;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #bf1e2e;
  padding: 10px 0;
  width: 100%;
}

.contact .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0;
}

address {
  padding: 0 40px;
  width: 100%;
}

address p {
  color: #fff;
  font-style: normal;
  line-height: 1.5em;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #fff;
  border: 2px solid #bf1e2e;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 25px;
  margin: 0 25px;
  width: 100%;
}

.formspree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 20px;
}

.formspree h4 {
  color: #bf1e2e;
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
  width: 100%;
}

.form label {
  padding: 20px 0;
}

input[type=text],
input[type=message] {
  border: 2px solid #bf1e2e;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.form textarea {
  border: 2px solid #bf1e2e;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 200px;
}

.name,
.business,
.email,
.phone,
.message {
  padding: 10px;
  width: 100%;
}

.contact input {
  padding: 15px;
}

.form button {
  background: #bf1e2e;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px;
  margin: 20px 0;
  text-transform: uppercase;
  width: 100%;
}

.form button i {
  padding: 5px 10px;
}

.form button:hover {
  background: #fff;
  border: 2px solid #bf1e2e;
  color: #bf1e2e;
  cursor: pointer;
  transition: 0.5s;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* tablet styles here */

/* ------------------------ home page - 768px ---------------------------- */

  .hero-area {
    text-align: center;
  }

  .hero-area h1 {
    margin: 20px;
  }

  .hero-area button {
    font-size: 1.5em;
    padding: 15px;
    margin-top: 200px;
    width: 20%;
  }

  .what-description p {
    font-size: 1.50em;
    padding: 0 30px;
    text-align: center;
  }

  .who-description p {
    font-size: 1.50em;
    padding: 0 30px;
    text-align: center;
  }

  .social-icons {
    width: 50%;
  }

  .benefits-item {
    width: 30%;
  }

/* ------------------- hero-area additional pages - 768px ------------------- */

  .hero-area-about h2,
  .hero-area-programs h2,
  .hero-area-press h2,
  .hero-area-contact h2 {
    font-size: 4em;
  }

/* ------------------------ about page - 768px ---------------------------- */

.about {
  text-align: center;
}

.about p,
.about ul {
  padding: 0 100px;
}

.about ul {
  text-align: left;
}

/* ------------------------ contact page - 768px ---------------------------- */

  address {
    width: 40%;
  }

  address p {
    font-size: 1.25em;
  }

  .form {
    width: 40%;
  }

}


@media only screen and (min-width: 1200px) {
  /* desktop styles here */

h1 {
  font-size: 2.25em;
}

h3,
h4 {
  font-size: 1.875em;
}

.hamburger-btn {
  display: none;
}

.nav-list {
  position: relative;
  height: 45px;
  top: 0;
  background: none;
  float: right;
  text-align: right;
  margin-right: 25px;
  transition: none;
 }

.nav-list li {
  display: inline-block;
  opacity: 1;
  line-height: 75px;
  margin: 0 20px;
  transition: none;
 }

 .nav-list li a {
   color: #2b3991;
 }

 .nav-list li a.active,
 .nav-list li a:hover {
   color: #5c93ce;
 }

 .hero-area h1 {
   font-size: 3.25em;
 }

 .hero-area p {
   display: block;
   font-size: 1.75em;
   line-height: 1.75em;
   margin: 150px 75px 100px 75px;
 }

 .hero-area button {
   margin: 50px;
 }

 .what figure {
   width: 50%;
 }

 .what-description p,
 .who-description p {
   font-size: 1.75em;
   line-height: 1.75em;
 }

 .benefits-item {
   width: 15%;
 }

/* ------------------------ about page - 1200px ---------------------------- */

.about h4 {
  font-size: 2.5em;
}

.about img {
  width: 50%;
}

.about p {
  font-size: 1.75em;
  line-height: 1.75em;
  width: 50%;
}

.mission {
  display: flex;
  flex-flow: row wrap;
}

.values {
  display: flex;
  flex-flow: row-reverse;
}

.founder {
  display: flex;
  flex-flow: row-reverse;
}

.mission img,
.values img {
  width: 75%;
}

/* ------------------------ programs page - 1200px ---------------------------- */

 .programs p {
   font-size: 1.75em;
   line-height: 1.75em;
 }

/* ------------------------ press page - 1200px ---------------------------- */

.press p {
  font-size: 1.75em;
  line-height: 1.75em;
}

/* ------------------------ contact page - 1200px ---------------------------- */

 address p {
   font-size: 2em;
 }

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
